*, *::before, *::after {
    box-sizing: border-box;
}
.grid-container {
    display: grid;
    grid-template:
    'cabecalho'
    'conteudo'
    'rodape';
    grid-template-rows: 69px auto auto;
    margin:0;
}

html {
    height: 100%;
}
body {
    font-family: 'CNN Sans Display',sans-serif;
    height: 100%;
    background-color: #fff;
    margin:0;
    /* display: block; */
}

.cabecalho {
    grid-area: cabecalho;
}
.main_header {
    background-color: #000;
    position: fixed;
    top: 0;
    z-index: 99999;
    border-bottom: 1px solid #fff;
    height: 69px;
    width: 100%;
    left: 0;
    padding-left: 24px;
    padding-right: 24px;
}

@media (min-width: 992px) and (max-width: 1320px) {
    .main__header {
        padding-left: 24px;
        padding-right: 24px;
    }
}
.navcontainer {
    display: flex;
    align-items: center;
    max-width: 1352px!important;
    height: 69px;
    justify-content: space-between;
    position: relative;
    margin: 0 auto;
    padding: 0 16px;
    width: 100%!important;
}
@media (min-width: 992px) {
    .navcontainer {
        max-width: 1280px!important;
    }
}
.header_menu {
    gap: 40px;
    height: 69px;
    position: relative;
    display: flex;
    align-items: center;
}
.menu_hamburguer {
    display: flex;
    flex-direction: column;
    gap:3.5px;
    z-index:4;
    width:16px;
    height: 12px;;
}
.menu_hamburguer span {
    background-color: #fff;
    display:block;
    height: 1.5px;
    width:16px;
    border-radius: 5px;
}
.header_menu>a {
    z-index:4;
    width:68px;
    height:69px;
}
a {
    text-decoration: none;
    color:#4D4d4D;
    background-color: transparent;
    cursor:pointer;
}
img {
    max-width: 100%;
    border-style: none;
    overflow-clip-margin: content-box;
    overflow: clip;
}
.header_central_itens {
    position: relative;
    height: 69px;
}
.header_central_itens, .header_links {
    display: flex;
    gap: 22px;
    align-items: center;
}
.main_header ul {
    list-style: none;
    padding:0;
    margin:0;
}
.header_links  a {
    border-bottom: 4px solid transparent;
    padding: 21px 10px;
    color: #fff;
    transition: .3s ease;
    font-weight: 400;
    font-size: 14px;
}
.header_central_itens a:hover {
    border-bottom: 4px solid red;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.header_links {
    color: white;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 22px;
    align-items: center;
}
.header_links .ao-vivo a {
    position: relative;
    padding-left: 30px;
}
.header_links .ao-vivo a::before {
    content:'';
    position:absolute;
    background:#C00;
    box-shadow: 0 0 0 rgba(204,0,0,.5);
    border-radius: 50%;
    width: 8px;
    height: 8px;
    margin:18px;
    animation: pulse 1.2s infinite;
    left:-12px;
    top:6px;
}
@keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(204,0,0,.5);
      box-shadow: 0 0 0 0 rgba(204,0,0,.5);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
        box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
  }
.cabecalho_actions {
    gap: 12px;
    position: relative;
    width: 64px;
    height: 24px;
    display: flex;
    align-items: center;
}
.lupa {
    width: 28px;
    height: 24px;
    border-right: 1px solid #e6e6e6;
    padding-top: 5px;
    position: absolute;
    z-index: 5;
    display: block;
    margin-top: 0em;
}
.menu_user {
    position: relative;
    right: -40px;
    scale: .8;
    display: block;
}

.conteudo {
    grid-area: conteudo;
    background-color: white;
}
.rodape {
    grid-area: rodape;
    padding: 36px 0;
    overflow-x: hidden;
    background: #0f0f0f;
    left:0;
}
.footer__top {
    max-width: 1248px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 66px 174px auto;
    grid-template-areas:
        "a b c"
        "a d c"
        "a e c"
        "a f c"
        "a g c";
    gap: 0 40px;
}

