.grid-materia {
    display: grid;
    grid-template-areas: 
        'main-content   aside';
    grid-template-columns: 3fr 1fr;
    padding: 0 16px;

}
.main-content{
    margin-top: 48px;
    grid-area: main-content;
    padding: 0 8px;
}

.main-content h1{
    
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 16px;
    color: #262626;
    font-size: 40px;
    font-weight: 700;
    line-height: 46px;
    margin-bottom: 0;
    margin-top: 0;
    margin-right: 3%;

}

.resumo {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-top: 8px;
    margin-bottom: 32px;
    color: #4d4d4d;
}

img {
    max-width: 100%;
    border-style: none;
}

.img_destaque img{
    object-fit: cover;
    border-radius: 4px;
    width: 100%;
    max-height: 484px;
}

.img_destaque figcaption {
    max-width: 100%;
    display: flex;
    margin-top: 8px;
    color: #262626;
    line-height: 14px;
    font-size: 12px;
    font-weight: 400;
    padding: 0 4px;
    flex-direction: column;
    text-align: left;
}

.img_destaque figcaption .creditos {
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
}

.autor{
    margin: 35px 0 4px;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 0;
    color: #4d4d4d;
}

.autor span a {
    text-decoration: underline;
    color: #262626;
}

.area-compartilhar{
    display: flex;
    border-top: 1px solid #e6e6e6;
    justify-content: space-between;
    margin: 15px 0;
    padding-top: 15px;
    font-size: 12px;
    color: #4D4D4D;
    text-align: center;
    align-items: center;
}

.compartilhar-text{
    font-size: 12px;
    color: #4D4D4D;
    text-align: center;
    align-items: center;
    padding: 5px;
}

.area-compartilhar-final{
    border-top: 1px solid #e6e6e6;
    padding-top: 15px;
    width: 100%;
}

.compartilhar-text-final{
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    text-align: center;
    color: #4D4D4D;
    margin: 18px 0;

}

.compartilhar{
    display: flex;
    align-items: center;
}

.compartilhar img{
    width: 40px;
    height: 40px;
    margin-left: 3px;
}

.ouvir-noticia{
    margin: 40px 0;
    font-size: 12px;
    color: #4D4D4D;
}

.conteudo-materia{
    font-size: 18px;
    line-height: 28px;
    letter-spacing: .01em;
    color: #262626;
    font-weight: 300;
}

.conteudo-materia a{
    font-weight: 500;
    text-decoration: underline;
    color: #2A76BD;
}

.conteudo-materia h2{
    font-size: 23px;
    color: #262626;
    font-weight: 700;
    line-height: 28px;
    margin: 40px 0 24px;
}

.compartilhar-column{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.aside{
    margin-top: 48px;
    grid-area: aside;
    background-color: burlywood;
    margin-left: 3%;
}
