*, *::before, *::after {
    box-sizing: border-box;
}
.grid-container {
    display: grid;
    grid-template:
    'cabecalho'
    'conteudo'
    'rodape';
    grid-template-rows: 69px auto auto;
    margin:0;
}

html {
    height: 100%;
}
body {
    font-family: 'CNN Sans Display', sans-serif;
    height: 100%;
    background-color: #fff;
    margin:0;
    /* display: block; */
}

.cabecalho {
    grid-area: cabecalho;
}
.main_header {
    background-color: #000;
    position: fixed;
    top: 0;
    z-index: 99999;
    border-bottom: 1px solid #fff;
    height: 69px;
    width: 100%;
    left: 0;
    padding-left: 24px;
    padding-right: 24px;
}

@media (min-width: 992px) and (max-width: 1320px) {
    .main__header {
        padding-left: 24px;
        padding-right: 24px;
    }
}
.navcontainer {
    display: flex;
    align-items: center;
    max-width: 1352px!important;
    height: 69px;
    justify-content: space-between;
    position: relative;
    margin: 0 auto;
    padding: 0 16px;
    width: 100%!important;
}
@media (min-width: 992px) {
    .navcontainer {
        max-width: 1280px!important;
    }
}
.header_menu {
    gap: 40px;
    height: 69px;
    position: relative;
    display: flex;
    align-items: center;
}
.menu_hamburguer {
    display: flex;
    flex-direction: column;
    gap:3.5px;
    z-index:4;
    width:16px;
    height: 12px;;
}
.menu_hamburguer span {
    background-color: #fff;
    display:block;
    height: 1.5px;
    width:16px;
    border-radius: 5px;
}
.header_menu>a {
    z-index:4;
    width:68px;
    height:69px;
}
a {
    text-decoration: none;
    color:#4D4d4D;
    background-color: transparent;
    cursor:pointer;
}
img {
    max-width: 100%;
    border-style: none;
    overflow-clip-margin: content-box;
    overflow: clip;
}
.header_central_itens {
    position: relative;
    height: 69px;
}
.header_central_itens, .header_links {
    display: flex;
    gap: 22px;
    align-items: center;
}
.main_header ul {
    list-style: none;
    padding:0;
    margin:0;
}
.header_links  a {
    border-bottom: 4px solid transparent;
    padding: 21px 10px;
    color: #fff;
    transition: .3s ease;
    font-weight: 400;
    font-size: 14px;
}
.header_central_itens a:hover {
    border-bottom: 4px solid red;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.header_links {
    color: white;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 22px;
    align-items: center;
}
.header_links .ao-vivo a {
    position: relative;
    padding-left: 30px;
}
.header_links .ao-vivo a::before {
    content:'';
    position:absolute;
    background:#C00;
    box-shadow: 0 0 0 rgba(204,0,0,.5);
    border-radius: 50%;
    width: 8px;
    height: 8px;
    margin:18px;
    animation: pulse 1.2s infinite;
    left:-12px;
    top:6px;
}
@keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(204,0,0,.5);
      box-shadow: 0 0 0 0 rgba(204,0,0,.5);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
        box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
  }
.header_actions {
    gap: 12px;
    position: relative;
    width: 64px;
    height: 24px;
    display: flex;
    align-items: center;
}
.header_actions .form {
    width: 24px;
    height: 24px;
    border-right: 1px solid #e6e6e6;
    padding-right: 32px;
    position: absolute;
    z-index: 5;
    display: block;
    margin-top: 0em;
}
.header_actions button {
    background: transparent;
    border: 0;
    padding: 0;
    position: absolute;
    top: -2px;
    transition: all ease 1s;
    cursor: pointer;
    overflow: visible;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
.menu_user {
    position: relative;
    right: -43px;
    background-color: #fff;
    border-radius: 50%;
    width: 26px;
    height: 26px;
}
.google-logo {
    scale:.43;
}

.conteudo {
    grid-area: conteudo;
    background-color: #fff;
    position: relative;
    padding-left: 24px;
    padding-right: 24px;
    max-width: 1320px!important;
    width:100%!important;
    top:24px;

}

.highlights {
    margin: 0 -16px;
    margin: 0;
    padding: 0;
    list-style: none;
    clear: both;
    display: flex;
    flex-wrap: wrap;
    /* background-color: #000; */
}

.highlights-li1 {
    width: 58.33333333%;
    position:relative;
}
.highlights-li2 {
    padding: 0px 16px;
    position: relative;
    width: 41.66666667%
}
.noticia1 {
    padding-bottom: 40px;
    height: 638px;
    justify-content: flex-end;
    display:flex;
    flex-direction: column;
    position:relative;
    /* background-color: orange; */
}
.noticia2 {
    display:flex;
    padding-bottom: 40px;
    justify-content: flex-end;
    height:298px;
    flex-direction: column;
    position:relative;

}
.block_news_title2 {
    text-shadow: 1px 1px 2px #000;
    color: #fff;
    margin: 0;
    z-index: 2;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    font-style: normal;
    position: relative;
    padding: 0 24px 10px;
}

.titulo-highlight {
    text-shadow: 1px 1px 6px #000;
    font-size: 40px;
    line-height: 50px;
    padding: 0 46px 24px;
    color:#fff;
    margin: 0;
    z-index: 2;
    font-weight: 700;
    position:relative;
}
figure {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    margin:0;
}
figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
    margin-top: 0;
    overflow-clip-margin: content-box;
    overflow: clip;
    max-width: 100%;
}
figure::after{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    display: block;
    position: absolute;
    border-radius: 4px;
    background: linear-gradient(180deg,rgba(0,0,0,.00) 30%,#000 100%);
}
.news_related_list {
    padding-inline: 46px;
    margin: 0;
    list-style: none;
}
.news_related_list li{
    width:100%;
    margin:0px;
}
.block_news_title {
    margin: 0px;
    color:#fff;
    font-size: 16px;
    font-weight: 400;
    padding-left: 22px;
    position: relative;
    font-style: normal;
    line-height: 22.5px;
    letter-spacing: -.225px;
}
.block_news_title::before {
        left: 0;
        top: 5px;
        content: '';
        width: 12px;
        height: 12px;
        border-radius: 2px;
        position: absolute;
        background-image: url(https://www.cnnbrasil.com.br/wp-content/plugins/master_homepage/assets/img/arrow-related.svg);
        background-color: #c00;
}
.rodape {
    grid-area: rodape;
    padding: 36px 0;
    overflow-x: hidden;
    background: #0f0f0f;
    left:0;
    position: relative;
    min-height:420px;
}
.footer_top {
    max-width: 1248px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 66px 174px auto;
    grid-template-areas:
        "a b c"
        "a d c"
        "a e c"
        "a f c"
        "a g c";
    gap: 0 40px;
}

.rodape-container {
    position: relative;
    margin: 0 auto;
    padding: 0 16px;
    width: 100%!important;
}

.footer_logo {
    grid-area: a;
}
.footere_logo a {
    display: block;
    width: 66px;
    height: 66px;
    text-decoration: none;
    color: #4D4D4D;
    background-color: transparent;
}
.footer_slug{
    color: #fff;
    margin: 0;
    margin-bottom: 16px;
    grid-area: b;
    /* grid-row: 1 / 2; */
    font-size: 14px;
    /* line-height: 20px; */
    font-weight: 700;
    line-height: 20px;
}
.footer_live {
    background: url(https://www.cnnbrasil.com.br/wp-content/themes/master-theme/assets/img/live-black.svg) left center no-repeat;
    display: block;
    border-top: 1px #D0D0D0 solid;
    border-bottom: 1px #D0D0D0 solid;
    padding: 19px 0 18px 0;
    padding-left: 34px;
    text-transform: uppercase;
    margin-bottom: 16px;
    grid-area: e;
    grid-row: 2 / 3;
}
.footer_live span {
    color:#fff;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
}
.footer_navigation {
    display: flex;
    flex: 1;
    grid-area: c;
}
.footer_navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer_navigation_child {
    min-width: 100%;
}
.navigation_block {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 32px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.navigation_block a {
    color: #fff;
    font-size: 14px;
    line-height: 26px;
    display: block;
}
.footer_main_link {
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
    padding: 0;
}
.navigation_subitem {
    color: #fff;
}
.navigation_subitem li {
    font-size: 14px;
    line-height: 26px;
}
.footer_bottom {
    position: relative;
    padding-top: 16px;
    margin-top: 32px;
}
.footer_bottom:before, .footer_bottom:after {
    content: '';
    width: 100vw;
    height: 1px;
    display: block;
    background: #A81D1D;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.footer_bottom::after {
    top:2px;
}
.footer_bottom ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 10px 0 14px 0;
    list-style: none;
}
.footer_bottom li {
    color:#fff;
}
.footer_copyright {
    color: #8C8C8C;
    font-size: 12px;
    padding-top: 6px;
    margin-top: 40px;
}